:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --grey-200: hsl(0, 0%, 85%);
  --blue-100: hsl(215, 30%, 92%);
  --blue-50: hsl(213, 100%, 98%);
}
.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.josefin-sans-light {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
*,
::after,
::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background: var(--white);
  font-size: 0.9375rem;
}
img {
  /* To keep the width of the image from going beyond the screen */
  max-width: 100%;
  display: block;
}
ul {
  margin-block: 0;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
  color: var(--white);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  box-sizing: border-box;
  max-width: 1130px;
  margin-inline: auto;
  padding-inline: 10px;
}
header {
  background-image: url("../images/desktop/image-hero.jpg");
  .header__menu {
    display: flex;
    align-items: center;
    padding-block: 64px 127px;
    img {
      margin-inline-end: auto;
    }
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      column-gap: 32px;
      justify-content: space-evenly;
      li {
        position: relative;
        padding-block-end: 8px;
        transition: all 450ms ease-in-out;
        &:hover::after {
          position: absolute;
          content: "";
          left: 50%;
          bottom: 0;
          width: 24px;
          height: 2px;
          background: var(--white);
          translate: -50% 0;
        }
        a {
          line-height: 165%;
        }
      }
    }
  }

  .open__button {
    display: none;
  }
  .menu__button {
    border: none;
  }
  .close__button {
    display: none;
  }
  .header__content {
    padding-block-end: 146px;
    h1 {
      max-width: 650px;
      min-height: 278px;
      font-weight: 300;
      border: 2px solid var(--white);
      padding: 42px 40px;
      font-size: clamp(2.5rem, calc(0.073rem + 9.143vw), 4.5rem);
      line-height: 100%;
      text-transform: uppercase;
      color: var(--white);
    }
  }
}
.main {
  .description {
    position: relative;
    display: flex;
    /* Если рисунок и текст внутри section имеют position: absolute, сам блок section «схлопывается» (его высота становится равной \(0\)), и следующий текст уходит под него.Решение: Задайте блоку section явную минимальную высоту. */
    min-height: 500px;
    margin-block: 160px 184px;
    /* align-items: center; */
    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 731px;
      height: 500px;
      z-index: 1;
      /* Скрывает выступающие части */
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        /* Обрезает картинку по размерам блока, сохраняя пропорции */
        object-fit: cover;
        /* Центрирует изображение внутри блока */
        object-position: center;
      }
    }
    div {
      position: absolute;
      z-index: 2;
      left: 570px;
      top: 184px;
      background-color: var(--white);
      max-width: 541px;
      min-height: 317px;
      padding: 96px 0 0 97px;
      h2 {
        font-size: clamp(2rem, calc(0.8em + 4.571vw), 3rem);
        line-height: 100%;
        font-weight: 300;
        text-transform: uppercase;
        color: var(--black);
        margin-block-end: 24px;
      }
      p {
        line-height: 165%;
        color: var(--black);
        opacity: 0.5;
      }
    }
  }
  .creations {
    position: relative;
    margin-block-end: 182px;
    /* min-height: 1060px; */
    h2 {
      font-size: clamp(2rem, calc(0.8em + 4.571vw), 3rem);
      line-height: 100%;
      font-weight: 300;
      text-transform: uppercase;
      color: var(--black);
      margin-block-end: 80px;
    }
    .creations__btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 157px;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      border: 1px solid var(--black);
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 5px;
      color: var(--black);
      background: inherit;
      cursor: pointer;
      transition:
        background 350ms ease-in-out,
        color 450ms ease-in;
      z-index: 2;
      &:hover {
        background: var(--black);
        color: var(--white);
      }
    }
    .creations__images {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 450px;
      gap: 32px;
      .creations__img {
        display: grid;
        position: relative;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          /* Белый цвет с прозрачностью 75% */
          background-color: rgba(255, 255, 255, 0.7);
          /* Изначально скрыт */
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        /* Для лучшей читаемости белого текста на светлых участках изображений */
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0) 50%
          );
          z-index: 0;
        }
        &:hover::after {
          opacity: 1;
        }
        &:hover p {
          color: var(--black);
        }
        picture {
          /* Занимают одну и ту же колонку */
          grid-column: 1 / -1;
          /* Занимают одну и ту же строку */
          grid-row: 1 / -1;

          img {
            display: block;
            width: 256px;
            height: 450px;
            object-fit: cover;
            transition: opacity 0.3s ease;
          }
        }
        p {
          position: absolute;
          /* Текст должен быть выше белой заливки */
          z-index: 2;
          /* Занимают одну и ту же колонку */
          grid-column: 1 / -1;
          /* Занимают одну и ту же строку */
          grid-row: 1 / -1;
          z-index: 1;
          /* Текст внизу */
          align-self: end;
          text-align: left;
          margin: 32px 40px;
          font-weight: 300;
          font-size: clamp(1.5rem, calc(1.273rem + 0.808vw), 2rem);
          line-height: 100%;
          text-transform: uppercase;
          color: var(--white);
          transition: color 0.3s ease;
        }
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  color: var(--white);
  padding-block: 45px 32px;
  img {
    margin-block-end: 24px;
  }
  .footer__nav {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      column-gap: 32px;
      justify-content: space-evenly;
      li {
        position: relative;
        padding-block-end: 8px;
        transition: all 450ms ease-in-out;
        &:hover::after {
          position: absolute;
          content: "";
          left: 50%;
          bottom: 0;
          width: 24px;
          height: 2px;
          background: var(--white);
          translate: -50% 0;
        }
      }
    }
  }
  .footer__social {
    .footer__social-icon {
      display: flex;
      align-items: center;
      justify-content: end;
      column-gap: 16px;
      margin-block-end: 24px;
      list-style-type: none;
      li {
        position: relative;
        padding-block-end: 8px;
        transition: all 450ms ease-in-out;
        cursor: pointer;
        &:hover::after {
          position: absolute;
          content: "";
          left: 50%;
          bottom: 0;
          width: 24px;
          height: 2px;
          background: var(--white);
          translate: -50% 0;
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 165%;
      text-align: right;
      color: var(--white);
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}

/* 770px */
@media (width <= 48.125rem) {
  .container {
    max-width: 628px;
  }
  header {
    position: sticky;
    img {
      position: relative;
      z-index: 2;
    }
    nav {
      padding: 220px 0 0 40px;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -300px;
      width: 100%;
      min-height: 100%;
      transform: translateX(0);
      background-image: linear-gradient(
        10deg,
        hsl(0, 0%, 0%) 10%,
        hsl(0, 0%, 0%) 60%
      );
      z-index: 1;
      ul {
        flex-direction: column;
        gap: 24px 0;
        li {
          width: 100%;
          text-align: left;
          &:hover::after {
            display: none;
          }
          a {
            font-family: "Josefin Sans", sans-serif;
            font-weight: 300;
            font-size: 24px;
            line-height: 100%;
            text-transform: uppercase;
          }
        }
      }
    }
    .header__content {
      h1 {
        max-width: 608px;
        min-height: 278px;
        padding: 40px;
      }
    }
    .menu__button {
      position: relative;
      background: inherit;
      cursor: pointer;
      z-index: 2;
    }
    .open__button {
      display: block;
    }
    .close__button {
      display: none;
    }
  }
  .menu__active nav {
    visibility: visible;
    transform: translateX(300px);
  }
  .menu__active .open__button {
    visibility: hidden;
  }
  .menu__active .open__button {
    display: none;
  }
  .menu__active .close__button {
    display: block;
  }
  .main {
    .description {
      position: sticky;
      min-height: 527px;
      flex-direction: column;
      align-items: center;
      row-gap: 48px;
      margin-block: 96px;
      picture {
        position: relative;
        width: 608px;
        height: 284px;
        /* overflow: visible; */
      }
      div {
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
        width: 608px;
        min-height: 195px;
        background: inherit;
        text-align: center;
      }
    }
    .creations {
      h2 {
        text-align: center;
      }
      .creations__btn {
        bottom: -70px;
        right: 35%;
        top: auto;
      }
      .creations__images {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        .creations__img {
          picture {
            img {
              width: 608px;
              height: 120px;
            }
          }
          p {
            width: 160px;
            margin: 20px 38px;
          }
        }
      }
    }
  }
  .footer {
    .footer__nav {
      ul {
        column-gap: 16px;
      }
    }
  }
}

/* 420px */
@media (width <= 26.25rem) {
  .container {
    max-width: 608px;
  }
  header {
    .header__menu {
      padding-block: 40px 227px;
      nav {
        min-height: 650px;
      }
    }
    .header__content {
      h1 {
        width: 327px;
        min-height: 196px;
        padding: 18px 24px;
      }
    }
  }
  .main {
    .description {
      picture {
        width: 327px;
        height: 224px;
      }
      div {
        width: 279px;
        height: 255px;
      }
    }
    .creations {
      .creations__images {
        .creations__img {
          p {
            width: 125px;
            margin: 20px;
          }
        }
      }
    }
  }
  .footer {
    flex-direction: column;
    row-gap: 40px;
    img {
      margin-block-end: 40px;
    }
    .footer__nav {
      ul {
        flex-direction: column;
        gap: 16px 0;
      }
    }
    .footer__social {
      .footer__social-icon {
        justify-content: center;
        margin-block-end: 16px;
      }
    }
  }
}

.attribution {
  font-size: 0.6875rem;
  padding-block: 10px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
