:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --grey-200: hsl(0, 0%, 85%);
  --blue-100: hsl(215, 30%, 92%);
  --blue-50: hsl(213, 100%, 98%);
}
.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.josefin-sans-light {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
*,
::after,
::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  background: var(--white);
  font-size: 0.9375rem;
}
img {
  /* To keep the width of the image from going beyond the screen */
  max-width: 100%;
  display: block;
}
ul {
  margin-block: 0;
  padding-inline-start: 0;
}
a {
  text-decoration: none;
  color: var(--white);
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  box-sizing: border-box;
  max-width: 70.625rem;
  margin-inline: auto;
  padding-inline: 0.625rem;
}
header {
  background-image: url("../images/desktop/image-hero.jpg");
  .header__menu {
    display: flex;
    align-items: center;
    padding-block: 4rem 7.9375rem;
    img {
      margin-inline-end: auto;
    }
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      column-gap: 2rem;
      justify-content: space-evenly;
      li {
        position: relative;
        padding-block-end: 0.5rem;
        transition: all 450ms ease-in-out;
        &:hover::after {
          position: absolute;
          content: "";
          left: 50%;
          bottom: 0;
          width: 1.5rem;
          height: 0.125rem;
          background: var(--white);
          translate: -50% 0;
        }
        a {
          line-height: 165%;
        }
      }
    }
  }

  .open__button {
    display: none;
  }
  .menu__button {
    border: none;
  }
  .close__button {
    display: none;
  }
  .header__content {
    padding-block-end: 9.125rem;
    h1 {
      max-width: 40.625rem;
      min-height: 17.375rem;
      font-weight: 300;
      border: 2px solid var(--white);
      padding: 2.625rem 2.5rem;
      font-size: clamp(2.5rem, calc(0.073rem + 9.143vw), 4.5rem);
      line-height: 100%;
      text-transform: uppercase;
      color: var(--white);
    }
  }
}
.main {
  .description {
    position: relative;
    display: flex;
    min-height: 31.25rem;
    margin-block: 10rem 11.5rem;
    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 45.6875rem;
      height: 31.25rem;
      z-index: 1;
      /* Hides protruding parts */
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        /* Crops the image to fit the block, maintaining proportions */
        object-fit: cover;
        /* Centers the image inside the block */
        object-position: center;
      }
    }
    div {
      position: absolute;
      z-index: 2;
      left: 35.625rem;
      top: 11.5rem;
      background-color: var(--white);
      max-width: 33.8125rem;
      min-height: 19.8125rem;
      padding: 6rem 0 0 6.0625rem;
      h2 {
        font-size: clamp(2rem, calc(0.8em + 4.571vw), 3rem);
        line-height: 100%;
        font-weight: 300;
        text-transform: uppercase;
        color: var(--black);
        margin-block-end: 1.5rem;
      }
      p {
        line-height: 165%;
        color: var(--black);
        opacity: 0.5;
      }
    }
  }
  .creations {
    position: relative;
    margin-block-end: 11.375rem;
        h2 {
      font-size: clamp(2rem, calc(0.8em + 4.571vw), 3rem);
      line-height: 100%;
      font-weight: 300;
      text-transform: uppercase;
      color: var(--black);
      margin-block-end: 5rem;
    }
    .creations__btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 9.8125rem;
      height: 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
      border: 1px solid var(--black);
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 100%;
      letter-spacing: 5px;
      color: var(--black);
      background: inherit;
      cursor: pointer;
      transition:
        background 350ms ease-in-out,
        color 450ms ease-in;
      z-index: 2;
      &:hover {
        background: var(--black);
        color: var(--white);
      }
    }
    .creations__images {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 28.125rem;
      gap: 2rem;
      .creations__img {
        display: grid;
        position: relative;
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        overflow: hidden;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          /* White color with 75% transparency */
          background-color: rgba(255, 255, 255, 0.7);
          /* Initially hidden */
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        /* For better readability of white text on light areas of images */
        &::before {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.6) 0%,
            rgba(0, 0, 0, 0) 50%
          );
          z-index: 0;
        }
        &:hover::after {
          opacity: 1;
        }
        &:hover p {
          color: var(--black);
        }
        picture {
          /* Occupy the same column */
          grid-column: 1 / -1;
          /* Occupy the same line */
          grid-row: 1 / -1;

          img {
            display: block;
            width: 16rem;
            height: 28.125rem;
            object-fit: cover;
            transition: opacity 0.3s ease;
          }
        }
        p {
          position: absolute;
          /* Text must be above the white fill */
          z-index: 2;
         /* Occupy the same column */
          grid-column: 1 / -1;
          /* Occupy the same line */
          grid-row: 1 / -1;
          z-index: 1;
          /* Text below */
          align-self: end;
          text-align: left;
          margin: 2rem 2.5rem;
          font-weight: 300;
          font-size: clamp(1.5rem, calc(1.273rem + 0.808vw), 2rem);
          line-height: 100%;
          text-transform: uppercase;
          color: var(--white);
          transition: color 0.3s ease;
        }
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--black);
  color: var(--white);
  padding-block: 2.8125rem 2rem;
  img {
    margin-block-end: 1.5rem;
  }
  .footer__nav {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      column-gap: 2rem;
      justify-content: space-evenly;
      li {
        position: relative;
        padding-block-end: 0.5rem;
        transition: all 450ms ease-in-out;
        &:hover::after {
          position: absolute;
          content: "";
          left: 50%;
          bottom: 0;
          width: 1.5rem;
          height: 0.125rem;
          background: var(--white);
          translate: -50% 0;
        }
      }
    }
  }
  .footer__social {
    .footer__social-icon {
      display: flex;
      align-items: center;
      justify-content: end;
      column-gap: 1rem;
      margin-block-end: 1.5rem;
      list-style-type: none;
      li {
        position: relative;
        padding-block-end: 8px;
        transition: all 450ms ease-in-out;
        cursor: pointer;
        &:hover::after {
          position: absolute;
          content: "";
          left: 50%;
          bottom: 0;
          width: 1.5rem;
          height: 0.125rem;
          background: var(--white);
          translate: -50% 0;
        }
      }
    }
    p {
      font-weight: 400;
      font-size: 0.9375rem;
      line-height: 165%;
      text-align: right;
      color: var(--white);
      mix-blend-mode: normal;
      opacity: 0.5;
    }
  }
}

/* 770px */
@media (width <= 48.125rem) {
  .container {
    max-width: 39.25rem;
  }
  header {
    position: sticky;
    img {
      position: relative;
      z-index: 2;
    }
    nav {
      padding: 13.75rem 0 0 2.5rem;
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -18.75rem;
      width: 100%;
      min-height: 100%;
      transform: translateX(0);
      background-image: linear-gradient(
        10deg,
        hsl(0, 0%, 0%) 10%,
        hsl(0, 0%, 0%) 60%
      );
      z-index: 1;
      ul {
        flex-direction: column;
        gap: 1.5rem 0;
        li {
          width: 100%;
          text-align: left;
          &:hover::after {
            display: none;
          }
          a {
            font-family: "Josefin Sans", sans-serif;
            font-weight: 300;
            font-size: 1.5rem;
            line-height: 100%;
            text-transform: uppercase;
          }
        }
      }
    }
    .header__content {
      h1 {
        max-width: 38rem;
        min-height: 17.375rem;
        padding: 2.5rem;
      }
    }
    .menu__button {
      position: relative;
      background: inherit;
      cursor: pointer;
      z-index: 2;
    }
    .open__button {
      display: block;
    }
    .close__button {
      display: none;
    }
  }
  .menu__active nav {
    visibility: visible;
    transform: translateX(300px);
  }
  .menu__active .open__button {
    visibility: hidden;
  }
  .menu__active .open__button {
    display: none;
  }
  .menu__active .close__button {
    display: block;
  }
  .main {
    .description {
      position: sticky;
      min-height: 32.9375rem;
      flex-direction: column;
      align-items: center;
      row-gap: 3rem;
      margin-block: 6rem;
      picture {
        position: relative;
        width: 38rem;
        height: 17.75rem;
      }
      div {
        position: relative;
        left: 0;
        top: 0;
        padding: 0;
        width: 38rem;
        min-height: 12.1875rem;
        background: inherit;
        text-align: center;
      }
    }
    .creations {
      h2 {
        text-align: center;
      }
      .creations__btn {
        bottom: -4.375rem;
        right: 35%;
        top: auto;
      }
      .creations__images {
        grid-template-columns: 1fr;
        grid-template-rows: none;
        .creations__img {
          picture {
            img {
              width: 38rem;
              height: 7.5rem;
            }
          }
          p {
            width: 160zpx;
            margin: 1.25rem 2.375rem;
          }
        }
      }
    }
  }
  .footer {
    .footer__nav {
      ul {
        column-gap: 1rem;
      }
    }
  }
}

/* 420px */
@media (width <= 26.25rem) {
  .container {
    max-width: 38rem;
  }
  header {
    .header__menu {
      padding-block: 2.5rem 14.1875rem;
      nav {
        min-height: 40.625rem;
      }
    }
    .header__content {
      h1 {
        width: 20.4375rem;
        min-height: 12.25rem;
        padding: 1.125rem 1.5rem;
      }
    }
  }
  .main {
    .description {
      picture {
        width: 327px;
        height: 224px;
      }
      div {
        width: 279px;
        height: 255px;
      }
    }
    .creations {
      .creations__images {
        .creations__img {
          p {
            width: 125px;
            margin: 20px;
          }
        }
      }
    }
  }
  .footer {
    flex-direction: column;
    row-gap: 2.5rem;
    img {
      margin-block-end: 2.5rem;
    }
    .footer__nav {
      ul {
        flex-direction: column;
        gap: 1rem 0;
      }
    }
    .footer__social {
      .footer__social-icon {
        justify-content: center;
        margin-block-end: 1z6px;
      }
    }
  }
}

.attribution {
  font-size: 0.6875rem;
  padding-block: 0.625rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
